h1 {
    color: rgb(237, 239, 245);
    text-align: center;
}
h2 {
    color:rgb(44, 179, 212);
    text-align: center;
}
h3{
    color:rgb(52, 194, 230);
    text-align:center;
}

    
body{
    background-image: url("https://www.zdnet.com/a/img/resize/cd2563d88797d89541a80c74eaa6e080987972d9/2021/07/16/446bc88d-dfd8-4152-b292-81c8b0bfc00e/web-developers-and-digital-designers-shutterstock-1141706672.jpg?width=1200&height=1200&fit=crop&auto=webp") ;
}